<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="aboutUs.css">
</head>
<body>
    <form action="/aboutus" method="post"></form>
<div class="head">
<img alt="#" src="/Assets/IMG_0095.PNG" class="homeIcon">
</div>

<div class="body">
    <p class="EthanText" style="font-family: paragraph;">Hello, my name is Ethan. I made the framework and made the pepper api and blog for our site. I love to cook with peppers. Some of my favorites are habanero, guajillo and chile de arbol. </p>
    <img alt="hi" src="/Assets/Ethan.PNG" class="Ethan" style="width: 1000px;">
    
    <p class="HienText" style="font-family: paragraph;">Hello! My name is Hien. I coded the Log-in/Sign-Up pages and logic as well as setup our endpoints. I am not a huge fan of spice. I cry whenever theres something spicy hidden in my food :( </p>
    <img alt="hi" src="/Assets/Hien.PNG" class="Hien" style="width: 1000px;">

    <p class="AnthonyText" style="font-family: paragraph;">Hello, my name is Anthony. I did all the design and CSS styling for this webpage. All assets and images were made by me ( excluidng the fonts ). I only like spice if its a little tingle on my tongue. </p>
    <img alt="hi" src="/Assets/Anthony.PNG" class="Anthony" style="width: 1000px;">
</div>

<div class="footer">
    <p class="footerText" style="font-family: paragraph;">⋆⭒˚｡⋆ This website was made for a group backend development project for our coding bootcamp ⋆⭒˚｡⋆</p>
</div>

</body>
</html>


    
