<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   Hello  <%= email %> welcome to PeppaPlug

   <h2>Your Favorites:</h2>
   <ul>
     <% for (const favorite of favorites) { %>
       <li><%= favorite.pepperId %></li>
     <% } %>

</body>
</html>