<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>

<body>
    <div class="login-body-div">
        <div class="login-fieldset">
    <form action="/login" method="post">
        <fieldset>

   
    
        



        <h1>Set New Password</h1>
    

                <% { %>

                    Username/Email <br><input id="email" type="email" name="email" required /><br><br>
                    <!-- <button type="submit">Send Email</button><br><br> -->
                    New Password <br><input id="email" type="email" name="email" required /><br><br>
                   
                    Re-Enter New Password <br><input id="password" type="password" name="password" required /><br><br>
                    <% } %>
                        
                        <input type="submit" class="createbtn" value="Set new password" />
                       
                        <div>
                            <!-- <p> New to PeppaPlug?</p> -->
                        </div>
                        <div>
                            <!-- <input type="button" class="createbtn" value="Create your PeppaPlug account" href="/register" /> -->
                        </div>
                        </fieldset>
                    
                </div>
                    
                </form>




</body>

</html>