<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>


<div class="navBar">
<img alt="hi" src="/Assets/IMG_0094.PNG" style="height: 200px;">
<img alt="hi" src="/Assets/IMG_0095.PNG" style="height: 200px;">
<img alt="hi" src="/Assets/IMG_0096.PNG" style="height: 200px;">
<img alt="hi" src="/Assets/IMG_0098.PNG" style="height: 175px;">
<img alt="hi" src="/Assets/IMG_0097.PNG" style="height: 200px;">
</div>

<div class="body">

    <!-- <div class="bodyBox1">

</div>

<div class="bodyBox2"> -->
    <img alt="hi" src="/Assets/PepperGif2.gif" style="height: 800px;" class="rotatingPepper">
    <!-- </div> -->

</div>

</body>
</html>

<% { %>
    <label>Your Name</label> <br>
    <input required type="text" class="blue" name="yourName"
        placeholder="First and last name" />
    <br><br>
    <label>Email</label> <br>
    <input required type="email" name="email" />
    <br><br>
    <label>Username</label><br>
    <input required type="text" name="username" />
    <br><br>
    <label>Password</label> <br>
    <input required type="password" name="password" placeholder="at least 8 characters" />
    <br><br>
    <label>Re-password</label> <br>
    <input required type="password" name="reenterpassword" />
    <br><br>
    <!-- Add this to your register.ejs file -->
    
    <% } %>
    
