<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    
<!-- Grid Head -->
<div class="gridHead">
<div class="navBar">

    <div class="navIcon1"><h1 style="font-family: paragraph;">home</h1></div>
    <div class="navIcon2"><h1 style="font-family: paragraph;">about</h1></div>
    <div class="navIcon3"><h1 style="font-family: paragraph;">shop</h1></div>
    <div class="navIcon4"><h1 style="font-family: paragraph;">contact</h1></div>
    <div class="navBarGradient"></div>
    

</div>

</div>

<!-- Grid Body -->
<div class="gridBody">
<div class="leftBox">
    <% { %>
        <label class="surveyLabel">Your Name</label> <br>
        <input required type="text" class="inputBox" name="yourName"
            placeholder="First and last name" />
        <br><br>
        <label class="surveyLabel">Email</label> <br>
        <input required type="email" class="inputBox" name="email" />
        <br><br>
        <label class="surveyLabel">Username</label><br>
        <input required type="text" class="inputBox" name="username" />
        <br><br>
        <label class="surveyLabel">Password</label> <br>
        <input required type="password" class="inputBox" name="password" placeholder="at least 8 characters" />
        <br><br>
        <label class="surveyLabel">Re-password</label> <br>
        <input required type="password" class="inputBox" name="reenterpassword" />
        <br><br>
        <!-- Add this to your register.ejs file -->
    
        <% } %>
</div>

<div class="rightBox">

</div>
    
    
</div>

    
</body>
</html>
