
<% { %>
    <label>Your Name</label> <br>
    <input required type="text" class="blue" name="yourName"
        placeholder="First and last name" />
    <br><br>
    <label>Email</label> <br>
    <input required type="email" name="email" />
    <br><br>
    <label>Username</label><br>
    <input required type="text" name="username" />
    <br><br>
    <label>Password</label> <br>
    <input required type="password" name="password" placeholder="at least 8 characters" />
    <br><br>
    <label>Re-password</label> <br>
    <input required type="password" name="reenterpassword" />
    <br><br>
    <!-- Add this to your register.ejs file -->

    <% } %>