<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>


<div class="navBar">
<a href="/gallery"> <img alt="hi" src="/Assets/IMG_0094.PNG" class="Img94"></a>
<a href="/"><img alt="hi" src="/Assets/IMG_0095.PNG" class="Img95"></a>
<a href="/dashboard?email=${user.email}"><img alt="hi" src="/Assets/IMG_0096.PNG" class="Img96"></a>
<a href="/aboutus"><img alt="hi" src="/Assets/IMG_0098.PNG" class="Img98"></a>
<a href="/login"><img alt="hi" src="/Assets/IMG_0097.PNG" class="Img97"></a>
</div>

<div class="body">

    <!-- <div class="bodyBox1">

</div>

<div class="bodyBox2"> -->
    <img alt="hi" src="/Assets/PepperGif2.gif" style="height: 800px;" class="rotatingPepper">
    <!-- </div> -->

</div>

</body>
</html>


    
