<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/login" method="post">




        <h1>SIGN IN</h1>
    

                <% { %>

                    Email <br><input id="email" type="email" name="email" required /><br><br>
                   
                    Password <br><input id="password" type="password" name="password" required /><br><br>
                    <% } %>
                        </div>
                        </div>
                        <input type="submit" class="createbtn" value="Sign IN" />
                       
                        <div>
                            <p> New to PeppaPlug?</p>
                        </div>
                        <div>
                            <input type="button" class="createbtn" value="Create your PeppaPlug account" href="/register" />
                        </div>
                        </div>
    </form>




</body>

</html>