<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <title>Document</title>
</head>

<body>
    <div class="navBar">
        <a href="/gallery"> <img alt="hi" src="/Assets/IMG_0094.PNG" class="Img94"></a>
        <a href="/"><img alt="hi" src="/Assets/IMG_0095.PNG" class="Img95"></a>
        <a href="/dashboard?email=${user.email}"><img alt="hi" src="/Assets/IMG_0096.PNG" class="Img96"></a>
        <a href="/aboutus"><img alt="hi" src="/Assets/IMG_0098.PNG" class="Img98"></a>
        <a href="/login"><img alt="hi" src="/Assets/IMG_0097.PNG" class="Img97"></a>
        </div>
    <div class="login-body-div">
        <div class="login-fieldset">
    <form action="/login" method="post">
        <fieldset>


        <h1>SIGN IN</h1>
    
                <% { %>

                    Email <br><input id="email" type="email" name="email" required /><br><br>
                   
                    Password <br><input id="password" type="password" name="password" required /><br><br>
                    <% } %>
                        
                        <input type="submit" class="createbtn" value="Sign IN" />
                       
                        <div>
                            <p> New to PeppaPlug?</p>
                        </div>
                        <button> <a type="button" href="/security">Forgot Password</a></button>
                        <div>
                            <button>
                                <a href="/register">Create your PeppaPlug account</a>
                              </button>
                        </div>
                        </fieldset>
                    
                </div>
                    
                </form>




</body>

</html>