<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>

<body>
    <div class="body-div">
        <div class="fieldset">
    <form action="/login" method="post">
        <fieldset style="border-style: solid; border-color: rgb(255, 85, 0); border-radius: 25px; border-width: 4px;">


        <h1 style="font-family: paragraph">SIGN IN</h1>
    
                <% { %>

                    <p class="labelEmail">Email</p><input class="input" id="email" type="email" name="email" required /><br><br>
                   
                    <p class="labelPassword">Password</p> <br><input class="input"  id="password" type="password" name="password" required /><br>
                    <% } %>
                        
                        <input type="submit" id="createbtn" value="Sign In" style="margin-bottom: 30px;">
                       
                        <div>
                            <p class="New"> New to PeppaPlug?</p>
                        </div>

                        <div>
                            <input type="button" id="createbtn" value="Create your PeppaPlug account" href="/register" style="margin-bottom: 30px;">
                        </div>

                        <a href="/forgotpassword" style="margin-bottom: 30px;">Forgot Password</a>

                        </fieldset>
                    
                </div>
                    
                </form>




</body>

</html>