<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/login" method="post">

<<<<<<< HEAD
    <% { %>
        <label>Your Name</label> <br>
        <input required type="text" class="blue" name="yourName"
            placeholder="First and last name" />
        <br><br>
        <label>Email</label> <br>
        <input required type="email" name="email" />
        <br><br>
        <label>Username</label><br>
        <input required type="text" name="username" />
        <br><br>
        <label>Password</label> <br>
        <input required type="password" name="password" placeholder="at least 8 characters" />
        <br><br>
        <label>Re-password</label> <br>
        <input required type="password" name="reenterpassword" />
        <br><br>
        <!-- Add this to your register.ejs file -->
    
        <% } %>
=======



        <h1>SIGN IN</h1>
>>>>>>> main
    

                <% { %>

                    Email <br><input id="email" type="email" name="email" required /><br><br>
                   
                    Password <br><input id="password" type="password" name="password" required /><br><br>
                    <% } %>
                        </div>
                        </div>
                        <input type="submit" class="createbtn" value="Sign IN" />
                       
                        <div>
                            <p> New to PeppaPlug?</p>
                        </div>
                        <div>
                            <input class="createbtn" value="Create your PeppaPlug account" href="/register" />
                        </div>
                        </div>
    </form>




</body>

</html>