<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/register" method="post">

        <div>
            <h1>Create Account</h1>
            <% if (typeof successMessage !=='undefined' ) { %>
                <p style="color: green;">
                    <%= successMessage %>
                </p>
                <% } %>

                    <% { %>
                        <label>First Name</label> <br>
                        <input required type="text" class="blue" name="firstName" placeholder="First name" />
                        <br><br>
                        <label>Last Name</label> <br>
                        <input required type="text" class="blue" name="lastName" placeholder="Last name" />
                        <br><br>
                        <label>Email</label> <br>
                        <input required type="email" name="email" />
                        <br><br>
                        <label>Password</label> <br>
                        <input required type="password" name="password" placeholder="at least 8 characters" />
                        <br><br>
                        
                        <!-- Add this to your register.ejs file -->

                        <% } %>
                            <input id="createbtn" type="submit" value="Create your Peppa Plug account" />
        </div>
        </div>
        <div>
            Already have an account?<a href="/login">Sign In ▸</a>
        </div>

        </div>
    </form>
</body>

</html>