<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>Document</title>
</head>

<body>
    <div class="body-div">
    <div class="fieldset">
    <form action="/register" method="post">

        <div>

            <fieldset style="border-style: solid; border-color: rgb(255, 85, 0); border-radius: 25px; border-width: 10px;">
            <h1>Create Account</h1>
            <% if (typeof successMessage !=='undefined' ) { %>
                <p style="color: green;">
                    <%= successMessage %>
                </p>
                <% } %>
                <% if (typeof failedMessage !=='undefined' ) { %>
                    <p style="color: red;">
                        <%= failedMessage %>
                    </p>
                    <% } %>

                    <% { %>
                        
                        <label>First Name</label> <br>
                        <input required type="text" class="input" name="firstName" minlength="2" maxlength="25" placeholder="First name" />
                        <br><br>

                        <label>Last Name</label> <br>
                        <input required type="text" class="input" name="lastName" minlength="2" maxlength="25" placeholder="Last name" />
                        <br><br>

                        <label>Email</label> <br>
                        <input required type="email" class="input" name="email" />
                        <br><br>

                        <label>Password</label> <br>
                        <input required type="password" class="input" name="password" minlength="8" placeholder="at least 8 characters" />
                        <br><br>

                        <label>Re Enter Password</label> <br>
                        <input required type="password" class="input" name="repassword" />
                        <br><br>
                        <!-- Add this to your register.ejs file -->

                        <% } %>
                            <input id="createbtn" type="submit" value="Create your Peppa Plug account" />
                            <br><br>

                            <div>
                                Already have an account? <a href="/login">Sign In ▸</a>
                            </div>
                            <br><br>
        </div>
        </div>
        </fieldset>  
        
    
        </div>
   
    </form>
</div>
</div>


</body>

</html>