<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>

<body>
    <div class="navBar">
        <a href="/gallery"> <img alt="hi" src="/Assets/IMG_0094.PNG" class="Img94"></a>
        <a href="/"><img alt="hi" src="/Assets/IMG_0095.PNG" class="Img95"></a>
        <a href="/dashboard?email=${user.email}"><img alt="hi" src="/Assets/IMG_0096.PNG" class="Img96"></a>
        <a href="/aboutus"><img alt="hi" src="/Assets/IMG_0098.PNG" class="Img98"></a>
        <a href="/login"><img alt="hi" src="/Assets/IMG_0097.PNG" class="Img97"></a>
        </div>
    <!-- <div class="body-div"> -->
    <!-- <div class="fieldset"> -->
    <form action="/register" method="post">

        <!-- <div> -->

            <fieldset style="border-style: solid; border-color: rgb(255, 85, 0); border-radius: 25px; border-width: 4px;">
            <h1 style="font-family: paragraph;">Create Account</h1>
            <% if (typeof successMessage !=='undefined' ) { %>
                <p style="color: green;">
                    <%= successMessage %>
                </p>
                <% } %>
                <% if (typeof failedMessage !=='undefined' ) { %>
                    <p style="color: red;">
                        <%= failedMessage %>
                    </p>
                    <% } %>

                    <!-- <% { %> -->

                        <label for="firstName">First Name</label><br>


<<<<<<< HEAD
                        <label class="labelFName">First Name</label><br>
                        <input required type="text" class="input" name="firstName" minlength="2" maxlength="25" placeholder="First name" />
                        <br><br>
                        <label class="labelLName">Last Name</label><br>
                        <input required type="text" class="input" name="lastName" minlength="2" maxlength="25" placeholder="Last name" />
                        <!-- I changed the class from "blue" to "input" to apply the input styling to the first name and last name fields. -->
=======
                        <label>First Name</label><br>

                        <input required type="text" class="blue" name="firstName" minlength="2" maxlength="25" placeholder="First name" />
                        <br>
                        <label for="lastName">Last Name</label><br>
                        <input required type="text" class="blue" name="lastName" minlength="2" maxlength="25" placeholder="Last name" />
>>>>>>> main

                        <br>
                        <label for="email">Email</label> <br>
                        <input required type="email" name="email" placeholder="Email" />
                        <br>
                        <label for="password">Password</label><br>
                         <input required type="password" name="password" minlength="8" placeholder="at least 8 characters" />
                         <br>
                         <label>Re Enter Password</label> <br>
                         <input required type="password" name="repassword" />
                        <br>
                         <label for="secquestion">Security Question</label><br>
                        <input required type="text" class="blue" name="secquestion" minlength="2" maxlength="25" placeholder="Security Question" />
                        <br>
                        <label for="secanswer">Security Answer</label><br>
                        <input required type="text" class="blue" name="secanswer" minlength="2" maxlength="25" placeholder="Security Answer" />
                        <br>


                        <br><br>

<<<<<<< HEAD
                        <label class="labelEmail">Email</label> <br>

                        <input required type="email" class="input" name="email" />
                        <br><br>

                        <label class="labelPassword">Password</label> <br>
                        <input required type="password" class="input" name="password" minlength="8" placeholder="at least 8 characters" />
                        <br><br>


                        <label class="labelRePassword">Re Enter Password</label> <br>
                        <input required type="password" class="input" name="repassword" />
                        <br><br>
                        <!-- Add this to your register.ejs file -->

                        <% } %>
=======
                      

                        <!-- <% } %> -->
>>>>>>> main
                            <input id="createbtn" type="submit" value="Create your Peppa Plug account" />
                            <br><br>

                            <div>
                                Already have an account? <a href="/login">Sign In</a>
                            </div>
                            <br><br>
        </div>
        </div>
        </fieldset>  
        
    
        </div>
   
    </form>
</div>
</div>


</body>
</html>