<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>Document</title>
</head>

<body>
    <div class="body-div">
    <div class="fieldset">
    <form action="/register" method="post">

        <div>

            <fieldset style="border-style: solid; border-color: rgb(255, 85, 0); border-radius: 25px; border-width: 10px;">
            <h1>Create Account</h1>
            <% if (typeof successMessage !=='undefined' ) { %>
                <p style="color: green;">
                    <%= successMessage %>
                </p>
                <% } %>
                <% if (typeof failedMessage !=='undefined' ) { %>
                    <p style="color: red;">
                        <%= failedMessage %>
                    </p>
                    <% } %>

                    <!-- <% { %> -->

                        <label for="firstName">First Name</label><br>


                        <label>First Name</label><br>

                        <input required type="text" class="blue" name="firstName" minlength="2" maxlength="25" placeholder="First name" />
                        <br>
                        <label for="lastName">Last Name</label><br>
                        <input required type="text" class="blue" name="lastName" minlength="2" maxlength="25" placeholder="Last name" />

                        <br>
                        <label for="email">Email</label> <br>
                        <input required type="email" name="email" placeholder="Email" />
                        <br>
                        <label for="password">Password</label><br>
                         <input required type="password" name="password" minlength="8" placeholder="at least 8 characters" />
                         <br>
                         <label>Re Enter Password</label> <br>
                         <input required type="password" name="repassword" />
                        <br>
                         <label for="secquestion">Security Question</label><br>
                        <input required type="text" class="blue" name="secquestion" minlength="2" maxlength="25" placeholder="Security Question" />
                        <br>
                        <label for="secanswer">Security Answer</label><br>
                        <input required type="text" class="blue" name="secanswer" minlength="2" maxlength="25" placeholder="Security Answer" />
                        <br>


                        <br><br>

                      

                        <!-- <% } %> -->
                            <input id="createbtn" type="submit" value="Create your Peppa Plug account" />
                            <br><br>

                            <div>
                                Already have an account? <a href="/login">Sign In ▸</a>
                            </div>
                            <br><br>
        </div>
        </div>
        </fieldset>  
        
    
        </div>
   
    </form>
</div>
</div>


</body>

</html>