body{
    background-image: linear-gradient(to right, rgb(43, 15, 0), rgb(0, 0, 0));
    /* background-color: black; */
    color: yellow;
}

/* .rotatingPepper{
    color: yellow;
    position: absolute;
    right: 50px;
    top: 120px;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
} */

.rotatingPepper{
    color: yellow;
    padding: 10px;
    border-radius: 5px;
    /* margin-right: 70px; */
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}


.navBar{
    text-align: center;
}

/* .bodyBox1{
    border: 5px solid orange;
    height: 650px;
    width: 450px;
    margin-top: 35px;
    margin-left: 35px;
    border-radius: 25px;
} */

.body{
    text-align: center;
}




.Img94 {
    width: 250px; /* Set the initial width */
    transition: transform 0.3s; /* Add a transition for smooth effect */
}

/* Define the hover state and change the image source */
.Img94:hover {
    transform: scale(1.1); /* Scale the image up by 10% on hover */
    content: url(/Assets/IMG_0109.PNG); /* Change the image source on hover */
}

.Img95 {
    width: 250px; /* Set the initial width */
    transition: transform 0.3s; /* Add a transition for smooth effect */
}

/* Define the hover state and change the image source */
.Img95:hover {
    transform: scale(1.1); /* Scale the image up by 10% on hover */
    content: url(/Assets/IMG_0108.PNG); /* Change the image source on hover */
}

.Img96 {
    width: 250px; /* Set the initial width */
    transition: transform 0.3s; /* Add a transition for smooth effect */
}

/* Define the hover state and change the image source */
.Img96:hover {
    transform: scale(1.1); /* Scale the image up by 10% on hover */
    content: url(/Assets/IMG_0107.PNG); /* Change the image source on hover */
}

.Img97 {
    width: 250px; /* Set the initial width */
    transition: transform 0.3s; /* Add a transition for smooth effect */
}

/* Define the hover state and change the image source */
.Img97:hover {
    transform: scale(1.1); /* Scale the image up by 10% on hover */
    content: url(/Assets/IMG_0106.PNG); /* Change the image source on hover */
}

.Img98 {
    width: 250px; /* Set the initial width */
    transition: transform 0.3s; /* Add a transition for smooth effect */
}

/* Define the hover state and change the image source */
.Img98:hover {
    transform: scale(1.1); /* Scale the image up by 10% on hover */
    content: url(/Assets/IMG_0105.PNG); /* Change the image source on hover */
}






