.login-body-div {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-fieldset {
    background-color: orangered;
    width: 50%;
    text-align: center;
    margin: 50px;
}