html, body {
    /* Set the height to 100% to make sure everything is centered vertically */
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    color: yellow;
    background-color: black;
}

/* Center the content horizontally and vertically */
.body-div {
    width: 100%; /* Use the full width of the viewport */
    height: 100%; /* Use the full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Additional styles to center text within the body-div if needed */
.center-text {
    text-align: center;
}


.fieldset {
    /* Customize your fieldset styles here */
    width: 650px;
    text-align: center;
    border-style: none;
    border-color: orangered;
    border-radius: 20px;
}

.input{
    margin: 10px;
    width: 400px;
    height: 30px;
    text-align: center;
    /* background-color: yellow; */
    color: orangered;
    border-color: orangered;
    border-style: solid;
    border-radius: 10px;

}

::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: red;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: red;
  }

  #createbtn{
    height: 35px;
    width: 285px;
    font-size: 15px;
    border-radius: 10px;
  }

  a:link {
    text-decoration: none;
    display: inline-block;
    white-space: nowrap; 
    color: rgb(240, 136, 38);
  }

  a:link:hover {
    text-decoration: underline;
    display: inline-block;
    white-space: nowrap; 
    color: rgb(81, 206, 36);
  }